<div class="">
    <div class="jumbotron">
        <h1 class="display-4">Daily tools</h1>
        <hr class="my-4">
        <p>Pick a tool and start working!</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#!/password" role="button">Password generator</a>
          <a class="btn btn-primary btn-lg" href="#!/hash" role="button">Hash generator</a>
          <a class="btn btn-primary btn-lg" href="#!/audio_converter" role="button">Audio converter</a>
        </p>
      </div>      
</div>
