<div ng-controller="KeyGeneratorController">
    <div>
        <h1>OpenPGP key generator</h1>
    </div>

    <body>
        <div class="row justify-content-md-center">
            <div class="col-8 pr-4">

                <form name="neyKey" class="form-group mb-2">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="type">Type:</span>
                        </div>
                        <select ng-change="changed()" class="custom-select form-control"
                                ng-model="key_params.type"
                                ng-options="t for t in types"
                                id="type">
                        </select>
                    </div>


                    <div class="form-group mb-2" ng-switch="key_params.type">
                        <div ng-switch-when="ecc">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="curve">Curve:</span>
                                </div>
                                <select class="custom-select form-control" ng-model="key_params.curve"
                                        ng-options="c for c in curves"
                                        id="curve">
                                </select>
                            </div>
                        </div>
                        <div ng-switch-when="rsa">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="rsa_bits">RSA bits:</span>
                                </div>
                                <select class="custom-select form-control" ng-model="key_params.rsa_bits"
                                    ng-options="b for b in rsa_bits"
                                    id="rsa_bits">
                                </select>
                            </div>
                        </div>
                        <div ng-switch-default>
                            <div>Not supported</div>
                        </div>
                    </div>

                    <div ng-repeat="u in key_params.users track by $index" class="form-group mb-3">
                        <div class="input-group">
                            <button type="button" class="btn btn-danger col-1" ng-click="removeNetUser($index)">-</button>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Name</span>
                            </div>
                            <input type="text" class="form-control"
                            id="user_name" name="user_name" ng-model="u.name"
                            ng-required="true" min="2" max="50" ng-pattern="/^[a-zA-Z0-9 ._-]+$/">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Email</span>
                            </div>
                            <input type="text" class="form-control"
                            id="email" name="email" ng-model="u.email"
                            ng-required="true" min="2" max="50" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                        </div>
                    
                    </div>
                    <button type="button" class="btn btn-success mb-3 col-12" ng-click="addNetUser()">+</button>

<!--                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Expires (days):</span>
                        </div>
                        <input class="form-control" type="number"
                            id="expires" name="expires" ng-model="key_params.expires"
                            ng-required="true" min="1" max="1000">
                    </div>-->

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Passphrase</span>
                        </div>
                        <input class="form-control" type="password"
                            id="passphrase" name="passphrase" ng-model="key_params.passphrase"
                            ng-required="true" min="2" max="50" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@('@')$!%*#?&{}[\]<>()^+=;:'&quot;/\\|-])[A-Za-z\d$@('@')$!%*#?&{}[\]<>()^+=;:'&quot;/\\|-]{8,20}$/">
                    </div>
                    <div class="form-group mb-2">
                        <button class="btn btn-primary col-12" ng-disabled="!neyKey.$valid || generating"
                            ng-click="generateKey();">Generate Key</button>
                    </div>
                </form>


            </div>

        </div>
        <div class="row justify-content-md-right" ng-show="!generating && privateKey && publicKey">
            <div ng-if="generating" class="text-center">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                </div>
                <div>
                    <span id="loading_text" class="sr-only">Generating...</span>
                </div>
            </div>

            <div class="col-6 pr-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Public key</span>
                    </div>
                    <textarea id="public_key" ng-model="publicKey"
                        rows="10" cols="16" class="form-control" readonly></textarea>
                </div>
                <div class="col-12 row mb-3">
                    <div class="col-6 pl-3">
                        <button class="btn btn-primary col-12" type="button" ng-click="copyKey('public_key')">Copy to clipboard</button>
                    </div>
                    <div class="col-6 pl-3">
                            <a class="btn btn-success col-12" href="{{publicKeyUrl}}" role="button" targer="_blank" download="{{publicKeyFilename}}">Download</a>
                        </div>
                    </div>

                </div>
                <div class="col-6 pr-4">
                        <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Private key</span>
                    </div>
                    <textarea id="private_key" ng-model="privateKey"
                        rows="10" cols="16" class="form-control" readonly></textarea>
                </div>
                <div class="col-12 row mb-3">
                    <div class="col-6 pl-3">
                        <button class="btn btn-primary col-12" type="button" ng-click="copyKey('private_key')">Copy to clipboard</button>
                    </div>
                    <div class="col-6 pl-3">
                        <a class="btn btn-success col-12" href="{{privateKeyUrl}}" role="button" targer="_blank" download="{{privateKeyFilename}}">Download</a>
                    </div>
                </div>

            </div>
        </div>

    </body>
      
</div>
