<div class="" ng-controller="PasswordController">
    <div>
        <h1>Password generator</h1>
    </div>

    <div class="row justify-content-md-right">
      <div class="col-6 pr-4">
        <form name="genPassForm" class="form-group mb-2">
            <label for="passwords">Number of passwords:</label>
            <input class="form-control w-50" type="number" id="passwords" name="passwords" ng-model="password_params.passwords" min="1" max="100" ng-required="true">
            <label for="letters">Number of letters:</label>
            <input class="form-control w-50" type="number" id="letters" name="letters" ng-model="password_params.letters" min="2" max="20" ng-required="true">
            <label for="digits">Number of digits:</label>
            <input class="form-control w-50" type="number" id="digits" name="digits" ng-model="password_params.digits" min="2" max="20" ng-required="true">
            <label for="symbols">Number of symbols:</label>
            <input class="form-control w-50" type="number" id="symbols" name="symbols" ng-model="password_params.symbols" min="2" max="20" ng-required="true">
            <label for="allowed_symbols">Allowed symbols:</label>
            <input class="form-control" type="text"
                id="allowed_symbols" name="allowed_symbols" ng-model="password_params.allowed_symbols"
                ng-required="true" min="2" max="20" ng-pattern="/^[/&quot&quot\\\]\[:;|=,.+*?%<>()!#@$&^_`{~}]+$/">
        </form>
            <button class="btn btn-primary col-12" type="button" ng-disabled="!genPassForm.$valid" ng-click="generatePassword()">Generate</button>
      </div>
      <div class="col-6">
        <label for="passwords_list">
            <div ng-switch="password_params.passwords">
                <div ng-switch-when="1"><span>Your password:</span></div>
                <div ng-switch-default><span>Your passwords:</span></div>
            </div>
    </label>
        <textarea class="form-control mb-2" id="passwords_area" ng-model="passwords_list" rows="1" cols="16" readonly></textarea>
        <button class="btn btn-primary col-12" type="button" ng-click="copyPassword('passwords_area')">Copy to clipboard</button>
    </div>
    </div>

</div>
