<div class="" ng-controller="PasswordController">
    <div>
        <h1>Password generator</h1>
    </div>
    <div class="row justify-content-md-right">
        <div class="col-6 pr-4">
            <form name="genPassForm" class="form-group mb-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">
                            Number of passwords:
                        </span>
                    </div>
                    <input class="form-control w-50" type="number"
                        id="passwords" name="passwords"
                        ng-model="passwordParams.passwords"
                        ng-required="true" min="1" max="100">
                </div>
            
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">
                            Number of letters:
                        </span>
                    </div>
                    <input class="form-control w-50" type="number"
                        id="letters" name="letters"
                        ng-model="passwordParams.letters"
                        ng-required="true" min="2" max="20">
                </div>
            
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">
                            Number of digits:
                        </span>
                    </div>
                    <input class="form-control w-50" type="number"
                        id="digits" name="digits"
                        ng-model="passwordParams.digits"
                        ng-required="true" min="2" max="20">
                </div>
            
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">
                            Number of symbols:
                        </span>
                    </div>
                    <input class="form-control w-50" type="number"
                        id="symbols" name="symbols"
                        ng-model="passwordParams.symbols"
                        ng-required="true" min="2" max="20">
                </div>
            
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">
                            Allowed symbols:
                        </span>
                    </div>
                    <input class="form-control w-50" type="text"
                        id="allowedSymbols" name="allowed_symbols"
                        ng-model="passwordParams.allowedSymbols"
                        ng-required="true" min="2" max="20"
                        ng-pattern="/^[/&quot&quot\\\]\[:;|=,.+*?%<>()!#@$&^_`{~}]+$/">
                </div>
            </form>
            <button class="btn btn-primary col-12" type="button"
                ng-disabled="!genPassForm.$valid"
                ng-click="generatePassword()">
                Generate
            </button>
        </div>
        <div class="col-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <div ng-switch="passwordParams.passwords">
                            <div ng-switch-when="1">
                                <span>Your password:</span>
                            </div>
                            <div ng-switch-default>
                                <span>Your passwords:</span>
                            </div>
                        </div>
                    </span>
                </div>
                <textarea id="passwords_area" ng-model="passwordsList"
                    rows="1" cols="16" class="form-control mb-2" readonly>
                </textarea>
            </div>

            <button class="btn btn-primary col-12" type="button"
                ng-click="copyPassword('passwords_area')">
                Copy to clipboard
            </button>
        </div>
    </div>

</div>
